.moods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .moods {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.inputSaveMood {
    box-sizing: border-box;
    margin: 20px auto;
    font-size: 16px;
    width: 300px;
    height: 45px;
    padding: 8px 10px;
    border: 3px solid black;
    background-color: black;
    transition: 0.2s ease-out;
    color: white;
    box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.91);
}

.inputSaveMood:focus {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.91);
}