.savedMood {
    margin: 0px 50px 50px 50px;
}

span {
    display: inline-block;
    height: 50px;
    user-select: none;
}

.playButton {
    margin: 10px auto;
    display: block;
    width: 50%;
    padding: 5px;
    cursor: pointer;
}