.savedMood {
    margin: 0px 50px 50px 50px;
}

span {
    display: inline-block;
    height: 50px;
    user-select: none;
}

.inputSaveMood {
    width: 30%;
    height: 20px;
    padding: 8px 10px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: darken(#EDEDED, 30%);
}

.inputSaveMood:focus {
    padding: 10px 5px 10px 10px;
}

.playButton {
    margin-top: 10px;
}