.moods{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

@media (max-width: 500px) {
    .moods{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}